.devices-list {
  display: flex;
}

.devices-list-row {
  flex: 1;
}

.device-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.device-grid-item {
  background: #ede7f6;
  padding: 1.5rem;
  border-radius: 1rem;
}
