@use 'sass:meta';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

:root {
  --color-f: #ff0000;
  --gh2-color: black;
  --gh2-bg-color: rgb(250, 250, 250);

  --body-font: 'Roboto', sans-serif;
  --heading-font: 'Montserrat', sans-serif;

  --primary-color: rgb(250, 250, 250);
  --primary-bg-color: #0288d1;
  --primary-bg-color-hover: #0279b9;

  --panel-bg-color: #ebebeb;

  --gh2-border-radius: 8px;

  --gh2-code-boolean: blue;
  --gh2-code-string: #f53131;
  --gh2-code-number: rgb(22 153 22);
  --gh2-code-function: #0036f9;
  --gh2-code-property: orange;
  --gh2-code-variable: purple;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --gh2-color: rgb(250, 250, 250);
//     --gh2-bg-color: black;

//     --primary-color: black;
//     --primary-bg-color: #74d2fd;
//     --primary-bg-color-hover: #ccebfa;

//     --panel-bg-color: #2c2c2c;

//     --gh2-code-boolean: #6c8fdf;
//     --gh2-code-number: rgb(104 179 104);
//     --gh2-code-variable: #cf5bcf;
//   }
// }

body {
  color: var(--gh2-color);
  background-color: var(--gh2-bg-color);

  font-family: var(--body-font);
  font-weight: normal;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

svg {
  width: 1.5rem;

  &.device-icon {
    grid-area: icon;
    align-self: center;
    justify-self: center;
    fill: #333;
    margin-right: 0.25rem;
  }
}



.mb-8 {
  margin-bottom: 8px;
}