@use "sass:meta";
@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans:400italic,700italic,400,700);

$roboto-slab: 'Roboto', serif;
$open-sans: 'Open Sans', sans-serif;

:root {
  --color-f: #ff0000;
  --gh2-color: black;
  --gh2-bg-color: white;

  --body-font: #{$roboto-slab};
  --heading-font: #{open-sans};

  --primary-color: white;
  --primary-bg-color: #0288d1;
  --primary-bg-color-hover: #0279b9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gh2-color: white;
    --gh2-bg-color: black;

    --primary-color: black;
    --primary-bg-color: #74d2fd;
    --primary-bg-color-hover: #ccebfa;
  }
}

body {
  color: var(--gh2-color);
  background-color: var(--gh2-bg-color);

  font-family: var(--body-font);
  font-weight: normal;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: normal;
}
